body {
    background-color: rgb(98, 13, 209);

    
}
.title{
    color: whitesmoke;



}
.startmenu{
color: whitesmoke;



}
.text{
    background-color: rgb(6, 255, 255);
    color: rgb(98, 13, 209);
    
}